.main-container {
    height: 100vh;
}

.sidenav {
    width: 200px;
}

.spacer {
    flex: 1 1 auto;
}

.content {
    padding: 16px;
}

.user-name {
    font-weight: lighter;
    font-size: medium;
}

.rounded-sidenav {
    border-radius: 0; /* Example: rounded only on the right side */
    /* Add other styles like a border or shadow if needed */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .puesto-card, .add-card {
    width: 220px;
    height: 150px;
    cursor: pointer;
    &:hover {
        background: #d5d5d5;
      }
  }
  
  .add-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e0e0;
    transition: background 0.2s;
  
    &:hover {
      background: #d5d5d5;
    }
  
    .add-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      font-size: 18px;
    }
  }
  