.turnero-container {
  display: flex;
  height: 100vh;
  background-color: #e7e7e7; // Fondo oscuro para evitar fatiga visual
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;

  .main-card {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcfdfd;
    color: #47c0f0;
    
    .main-card-title {
      color: black;
    }

    .big-display {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .persona-actual {
        font-size: 10rem;
        font-weight: 900;
        line-height: 1;
      }
      
      .puesto-actual {
        font-size: 5rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 30px;
        color: black;
      }
    }
  }

  .history-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
      color: rgb(78, 78, 78);
      text-align: center;
      font-size: 1.5rem;
    }

    .history-card {
      background-color: #333;
      color: white;
      padding: 15px;

      .history-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        
        .h-numero { font-weight: bold; color: #ffd740; }
        .h-modulo { font-size: 1.5rem; }
      }
    }
  }
}

.call-title-init {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 5rem;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  padding-left: 40%;
}