@if (llamableActual && llamableActual.idPuesto > 0) {

  <div class="turnero-container">

    <!-- LLAMADO ACTUAL -->
    <section class="actual-section">

      <table mat-table
             [dataSource]="[llamableActual]"
             class="mat-elevation-z8 tabla-actual"
             @llamadoAnimado>

        <!-- Usuario -->
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let row" class="usuario-actual">
            {{ row.persona }}
          </td>
        </ng-container>

        <!-- Puesto -->
        <ng-container matColumnDef="puesto">
          <th mat-header-cell *matHeaderCellDef>Puesto</th>
          <td mat-cell *matCellDef="let row" class="puesto-actual">
            {{ row.idPuesto }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['usuario','puesto']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['usuario','puesto']"></tr>

      </table>
    </section>

    <!-- HISTORIAL -->
    <section class="historial-section">
      <h2 class="section-title">ÚLTIMOS LLAMADOS</h2>

      <table mat-table
             [dataSource]="historialLlamables | slice:0:5"
             class="mat-elevation-z2 tabla-historial">

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let row">{{ row.persona }}</td>
        </ng-container>

        <ng-container matColumnDef="puesto">
          <th mat-header-cell *matHeaderCellDef>Puesto</th>
          <td mat-cell *matCellDef="let row">{{ row.idPuesto }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['usuario','puesto']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['usuario','puesto']"></tr>

      </table>
    </section>

  </div>

} @else {

  <!-- PANTALLA INICIAL -->
  <div class="turnero-container init" (click)="iniciarPantalla()">
    <h1 class="call-title-init">{{ textoInicial }}</h1>
    <span class="esperando">Esperando turnos…</span>
  </div>

}
