.turnero-container {
  display: flex;
  height: 100vh;
  background-color: #e7e7e7; 
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;

  .main-card {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcfdfd;
    color: #47c0f0;
    
    .main-card-title {
      color: rgb(82, 80, 80);
      font-size: 3rem;

    }

    .big-display {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .persona-actual {
        font-size: 9rem;
        font-weight: 900;
        line-height: 1;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      
      .puesto-actual {
        font-size: 5rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 30px;
        color: rgb(75, 75, 75);
      }
    }
  }

  .history-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
      color: rgb(78, 78, 78);
      text-align: center;
      font-size: 1.5rem;
    }

    .history-card {
      background-color: #9c9c9c;
      color: white;
      padding: 15px;

      .history-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        
        .h-numero { font-weight: bold; color: #011c27; }
        .h-modulo { font-size: 1.5rem; }
      }
    }
  }
}

.history-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.header-col {
  text-align: left;
}

.header-col-puesto {
  text-align: right;
}

.call-title-init {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 5rem;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  padding-left: 40%;
}