@if (llamableActual && llamableActual.idPuesto > 0) {
  <div class="turnero-container">
    <mat-card class="main-card">
      <mat-card-header>
        <mat-card-title class="main-card-title">USUARIO</mat-card-title>
      </mat-card-header>
      <mat-card-content class="big-display">
        <span class="persona-actual">{{ llamableActual.persona }}</span>
        <span class="puesto-actual">DIRÍJASE A: {{ llamableActual.idPuesto }}</span>
      </mat-card-content>
    </mat-card>

    <div class="history-sidebar">
      <h3>ÚLTIMOS LLAMADOS</h3>
        <div class="history-header">
          <span class="header-col">Usuario</span>
          <span class="header-col-puesto">Puesto</span>
        </div>
      @for (item of historialLlamables | slice:0:5; track item.timestamp; let primero = $first) {
        @if (!primero){
          <mat-card class="history-card">
            <div class="history-content">
              <span class="h-numero">{{ item.persona }}</span>
              <span class="h-modulo">
                <mat-icon>arrow_forward</mat-icon>
                {{ item.idPuesto }}</span>
            </div>
          </mat-card>
        }
      }
    </div>
  </div>
} @else {
  <div class="turnero-container" (click)="iniciarPantalla()">
    <mat-card class="main-card">
      <mat-card-header>
          <mat-card-title> {{textoInicial}} </mat-card-title>
      </mat-card-header>
      <mat-card-content class="big-display">
          <span class="puesto-actual">Esperando turnos</span>
      </mat-card-content>
    </mat-card>
    <div class="history-sidebar">
      <h3>ÚLTIMOS LLAMADOS</h3>
        <mat-card class="history-card">
          <div class="history-content">
            <span class="h-numero">-</span>
            <mat-icon>arrow_forward</mat-icon>
            <span class="h-modulo">-</span>
          </div>
        </mat-card>
    </div>
  </div>
}