.turnero-container {
  height: 100vh;
  padding: 32px;
  background-color: #e7e7e7;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 40px;
}

/* ===== LLAMADO ACTUAL ===== */
.tabla-actual {
  width: 100%;
  height: 170px;

  .mat-header-row {
    height: 80px;
  }

  .mat-row {
    height: 320px;   /* <<< alto de la fila */
  }

  th {
    font-size: 2rem;
    text-align: center;
    color:#666;
  }

  td {
    text-align: center;
    font-weight: bold;
    
  }
}

.usuario-actual {
  font-size: 6rem;
  color: #1565c0;
}

.puesto-actual {
  font-size: 6rem;
  color: #1565c0;
}

/* ===== HISTORIAL ===== */
.tabla-historial {
  width: 100%;

  th {
    font-size: 1.5rem;
  }

  td {
    font-size: 2rem;
  }
}

/* ===== INICIAL ===== */
.init {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.call-title-init {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.esperando {
  font-size: 3rem;
  color: #666;
}
