.turnero-container {
  height: 100vh;
  padding: 32px;
  
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 40px;

  background-image: url('../../../assets/fondo_display.jpg'); /* 1. Ruta a imagen */
  background-size: cover; /* 2. Cubre todo el elemento */
  background-attachment: fixed; 
}

/* ===== LLAMADO ACTUAL ===== */
.tabla-actual {
  width: 100%;
  height: 170px;
  opacity: 0.75;

  .mat-header-row {
    height: 80px;
  }

  .mat-row {
    height: 320px;   /* <<< alto de la fila */
  }

  th {
    font-size: 2rem;
    text-align: center;
    background-color: #1565c0;
    color:white;
  }

  td {
    text-align: center;
    font-weight: bold;
    
  }
}

.usuario-actual {
  font-size: 6rem;
  color: #000000;
}

.puesto-actual {
  font-size: 6rem;
  color: #000000;
}

/* ===== HISTORIAL ===== */
.tabla-historial {
  width: 100%;
  opacity: 0.75;
  th {
    font-size: 1.5rem;
    text-align: center;
    background-color: #1565c0;
    color:white;
  }

  td {
    font-size: 3rem;
    text-align: center;
    padding-right: 29px;
  }
}

/* ===== INICIAL ===== */
.init {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.call-title-init {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.esperando {
  font-size: 3rem;
  color: #666;
}
